@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.886);
    padding: 20px 50px;
    border-radius: 60px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 2px 8px rgb(127, 74, 192);
  }
  
  .form-section {
    margin-bottom: 5px;
  }

  .midtext{
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #fff; /* Beyaz arka plan */
    transition: background-color 0.3s, box-shadow 0.3s; /* Geçiş efektleri ekleyin */
    /* Kutu gölgesi yok, hover durumunda 2px 2px 5px gri bir gölge uygula */
    box-shadow: none;
  }

  input:hover, textarea:hover {
    background-color: #f0f0f0; /* Hover durumunda açık gri arka plan */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Hover durumunda gölge */
  }

  input.selected textarea.selected{
    background-color: #919191; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .model-section {
    text-align: center;
  }
  
  .model-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  
  button {
    border-radius: 25px;
    margin: 6px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ccc;
    transition: background-color 0.3s, box-shadow 0.3s;
    transition: background-color 0.4s;
  }
  
  button:hover {
    background-color: #945ddc8c; /* Mor/lacivert arası bir renk */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button.selected {
    background-color: rgba(168, 4, 48, 0.642); /* Seçili buton rengi */
  }
  
  .submit-button {
    margin-left: 45%;
    margin-top:30px;
    background-color: #ce0505; /* Kırmızı */
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.9s;
  }
  
  .submit-button:hover {
    background-color: #ff3333;
    font-weight: bold;
  }
  
