# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

ArcelikWebApi/.vs/ArcelikWebApi/xs/project-cache/ArcelikWebApi-Debug.json
ArcelikWebApi/.vs/ArcelikWebApi/xs/UserPrefs.xml
ArcelikWebApi/ArcelikWebApi/bin/Debug/net7.0/ArcelikWebApi
ArcelikWebApi/ArcelikWebApi/obj/Debug/net7.0/ArcelikWebApi.csproj.CoreCompileInputs.cache
ArcelikWebApi/ArcelikWebApi/obj/Debug/net7.0/ArcelikWebApi.dll

ArcelikWebApi/.vs/ArcelikWebApi/FileContentIndex/
ArcelikWebApi/ArcelikWebApi/obj/Debug/net7.0/ArcelikWebApi.csproj.AssemblyReference.cache
ArcelikWebApi/.vs/ArcelikWebApi/v17/.suo
ArcelikWebApi/ArcelikWebApi/obj/Debug/net7.0/ArcelikWebApi.AssemblyInfo.cs
ArcelikWebApi/ArcelikWebApi/obj/Debug/net7.0/ArcelikWebApi.AssemblyInfoInputs.cache