.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.checkbox-container input {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: #ebeaed;
}

.checkbox-container input:active {
  background-color: red;
}

.cb-1,
.cb-2 {
  display: flex;
  align-items: center;
  gap: 17px;
}
