.pt-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.period-container,
.range-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.period-container input {
  background: transparent;
  border: 1px solid gray;
  outline: none;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.period-container input::-webkit-outer-spin-button,
.period-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pt-container input {
  display: block;
  width: 100%;
}

/* .range-container input {
  display: block;
} */
