.step-bar {
  position: relative;
  width: 100%;
  height: 0.4rem;
  background-color: gray;
  display: flex;
}

.active-step-bar {
  height: 0.4rem;
  background-color: #1e0e62;
  position: relative;
  border-radius: 1rem;
  transition: left 0.4s ease-in-out;
}
