.page-title {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.info{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 96vw;
    margin-top: 0.50rem;
    cursor: pointer;
}

.drag-drop-area {
    border: 2px dashed #ccc;
    /* padding: 50px 0 70px 50px; */
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35vw;
    margin-top: 3vh;
    transition: .4s;
}

.drag-drop-area:hover {
  background-color:#e1e1e1c4;
}

.up-text {
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 17px;
}

.down-text {
    padding-bottom: 0.5rem;
}

.file-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0.50rem;
    width: auto;
}

.video-remove-modal {
    background-color: rgb(175, 62, 62);
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    padding: 10px 10px 20px;
    margin-left: 35vw;
    border-radius: 5px;
    margin-top: 0.50rem;
    font-weight: 500;
  }

  .remove-confirm,
  .remove-cancel {
    /* margin-left: 0.50rem; */
    margin-top: 0.5rem;
    padding: 5px 0 7px;
    border-radius: 5px;
    width: 80px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: .4s;
  }

  .remove-confirm:hover,
  .remove-cancel:hover{
    background-color: #c0c0c0;
  }
  
  .first-remove-btn {
    font-size: 14px;
    font-weight: 550;
    margin-left: 0.65rem;
    padding: 3px 0 7px;
    width: 65px;
    border-radius: 5px;
    background-color: #eaeaea;
    color: rgb(93, 19, 19);
    cursor: pointer;
    transition: .4s;
  }

  .first-remove-btn:hover {
    background-color: #c0c0c0;
  }

  .confirm-text {
    padding-bottom: 10px;
  }

  .video-title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.9rem;
  }

  .video-head {
    font-size: 18px;
    font-weight: 500;
  }

  #video-title {
    background-color: #fbfbfb;
    border-radius: 5px;
    border: 1.5px solid rgb(45, 45, 45);
    padding: 5px 15px 7px;
    width: 30vw;
    height: 6vh;
    margin-top:0.5rem;
    margin-left: 1rem;
    transition: .4s;
  }

  #video-title:hover {
    background-color: #eaeaea;
  }

  .change-container {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 1.7rem;
    margin-left: 50rem;
  }

  .change-ex-btn {
    width: 10rem;
    height: 4rem;
    background-color: rgb(168, 34, 34);
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 10px 7px;
    cursor: pointer;
    transition: .3s;
  }

  .change-ex-btn:hover {
    background-color: rgb(208, 43, 43);
  }

  /* RESPONSIVE DESIGN */

  @media screen and (max-width: 1070px) {

    .drag-drop-area, .video-remove-modal, .add-to-pool-container {
      margin-left: 10%;
      width: 80%;
    }

    #video-title {
      width: 80%;
    }

    .video-title-container {
      width: 100%;
    }

    .route-video-management {
      margin-top: 10%;
      margin-left: 10%;
      width: 80%;
    }
  
    /* .info {
      margin-left: 80%;
    } */
  
    .change-container {
      margin-left: 10%;
    }

  }
  
  @media screen and (max-width: 500px) {
    .drag-drop-area, .video-remove-modal, .add-to-pool-container {
      margin-left: 5%;
      width: 90%;
    }

    #video-title {
      width: 90%;
    }

    .video-title-container {
      width: 100%;
    }

    .route-video-management {
      margin-top: 5%;
      margin-left: 5%;
      width: 90%;
    }

/*   
    .info {
      margin-left: 85%;
    } */
  
    .change-container {
      margin-left: 5%;
    }
  }