:root {
  --red: #cc1526;
  --white: #ffffff;
  --purple: #2f1893;
  --hover: #181818;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  overflow: hidden;
}

.main-container {
  text-align: center;
  padding: 4rem;
  color: var(--white);
  max-width: 75rem;
  max-height: fit-content;
  margin-top: 10rem;
  margin: 0 auto;
}

.main-container .loading-container {
  position: fixed;
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .loading-frame {
  padding: 30px;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 0.615);
}

.main-title {
  font-size: 7.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  letter-spacing: 0.4rem;
  transition: font-size 0.5s ease, margin-top 0.5s ease;
}

.main-text {
  font-size: 2.2rem;
  line-height: 1.5;
  max-width: 70rem;
}

.login-button {
  background-color: #cc1526;
  color: var(--white);
  border: none;
  border-radius: 10rem;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 11rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: #dd1e31;
}
.animate-login {
  font-size: 7.2rem;
  margin-top: 0;
}

.animate-other {
  font-size: 3.6rem;
  margin-top: -2rem;
}
ol,
ul {
  list-style-position: inside;
}

ol li,
ul li {
  text-align: left;
  margin-bottom: 10px;
}

.add-margin-bottom {
  margin-bottom: 2.5rem;
}

/* Media query for phone screens */
@media only screen and (max-width: 767px) {
  html {
    font-size: 60%;
  }
  body {
    overflow: auto;
  }
  .main-title {
    font-size: 4rem;
  }
  .main-container {
    max-width: fit-content;
    margin-top: 5rem;
  }
  .login-button {
    margin-top: 10rem;
  }
}
