.footer {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    width: 97vw;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    margin-top: 3rem;
    padding-bottom: 4vw;
    font-size: 18px;
    font-weight: 550;
}