.form-container {
  max-width: 88rem;
  min-height: fit-content;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.741);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;

  /* position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  margin: 4rem auto;
}

.form-container .step-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.form-container .bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.step2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
  /* transition: all 300ms; */
}
.button-container button {
  background: #1e0e62;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4rem;
  font-size: 2rem;
  cursor: pointer;
}
.button-container .previous {
  background: transparent;
  /* background-color: rgba(255, 255, 255, 0.812); */
  color: #1e0e62;
  border: 0.2rem solid #1e0e62;
}

/* <div className="abc">
  <div className="child" id="a">a</div>
  <div className="child" id="b">b</div>
  <div className="child" id="c">c</div>
</div>

.abc {
  border: 5px solid black;
  height: 100px;
  display: flex;
  flex-direction: column;
}
#a {
  background-color: green;
}
#b {
  background-color: blue;
}
#c {
  position: relative;
  background-color: rgb(255, 90, 239);
  flex-grow: 1;
} */
@media only screen and (max-width: 767px) {
  /* .form-container {
    overflow: visible;
    background: linear-gradient(
      304deg,
      rgba(82, 84, 165, 1) 0%,
      rgba(141, 96, 161, 1) 100%
    );
  } */
}
