@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  background-image: url("Background.png");
  background-size: cover;
  background-color: #eca3a3;
  margin: 0; /* varsayılan body margin'ini sıfırlamak için */
  padding: 0; /* varsayılan body padding'ini sıfırlamak için */
  font-family: "Montserrat", sans-serif;
}
/* Header */
header {
  margin-top: 2rem;
}

.logo {
  margin-left: 5rem;
  margin-top: 4rem;
}

/* Content */
.content-container {
  text-align: center;
  margin-top: 7rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 6rem;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.826);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 40rem;
  height: 30rem;
  border-radius: 5rem;
}

h2 {
  margin-bottom: 1rem;
}

.login {
  margin-top: 5rem;
}
/* Footer */
footer {
  margin-top: 10rem;
  border-top: 2px solid #210101;
  text-align: center;
  padding: 1rem;
}

.arcelik-ai {
  font-size: 2.4rem;
  margin-top: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
