#navbar {
  position: relative;
  padding: 5.8rem 6rem;
  /* padding: 1rem 6rem; */
  display: flex;
  justify-content: space-between;
}

#navbar .logo {
  /* margin-left: 6rem; */
}

.logo img {
  margin-top: 0.65rem;
}

#navbar .title {
  /* font-family: inherit; */
  font-size: 43px;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
  user-select: none;
}

#navbar .steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

#navbar .steps .step {
  width: 7rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  user-select: none;
  position: relative;
}

#navbar .steps .step.active {
  color: rgba(255, 255, 255, 0.3);
  /* border-bottom: 3px solid rgba(255, 255, 255, 0.3); */
}
/* this style pack is an alternative to the border-bottom property */
/* #navbar .steps .step.active::before {
  position: absolute;
  border-radius: 5px;
  content: "";
  width: 80px;
  height: 3px;
  bottom: -4px;
  left: -4px;
  left: auto;
  right: auto; 
  background-color: rgba(255, 255, 255, 0.3);
} */

#navbar .steps .step.active:hover {
  text-shadow: none;
  cursor: default;
}

#navbar .steps .step:hover {
  text-shadow: 0 0 10px white;
}

.spacer::before {
  content: " ";
  flex-grow: 1;
  margin-right: 19.6rem;
}
.right-container {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  user-select: none;
  /* background-color: red; */
}

.right-container a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.right-container .material-symbols-outlined {
  cursor: pointer;
  font-size: 40px;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.popup-container {
  position: absolute;
  right: 0;
  bottom: -4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(128, 128, 128, 0.419);
  backdrop-filter: blur(5px);
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 300ms;
}
.visible{
  opacity: 1;
}
.hidden{
  opacity: 0;
  /* width: 0;
  height: 0;
  font-size: 0; */
  display: none;
}
.popup-container .btn {
  cursor: pointer;
  transition: all 100ms;
}
.popup-container .btn:hover {
  color: rgba(255, 255, 255, 0.681);
}

/* Media query for really small screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) {
  #navbar {
    font-size: 2rem;
    flex-direction: column;
    margin: 0 4rem;
  }
  .spacer::before {
    margin-right: 0;
  }
}

/* Media query for phones */

@media only screen and (max-width: 767px) {
  #navbar {
    font-size: 4rem;
    flex-direction: column;
    padding: 2.9rem 0;
  }
  .spacer::before {
    margin-right: 0;
  }
  #navbar .logo {
    position: fixed;
    margin-left: 50vw;
    transform: translate(-6.8rem, 85vh);
  }
  .logo img {
    transform: scale(0.6);
  }
}

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #navbar {
    display: flex;
    justify-content: space-between;
  }
  .spacer::before {
    margin-right: 0;
  }
}
