.video-titles {
    background-color: #f2f2f3;
    border-radius: 5px;
    padding: 15px;
    width: 25vw;
    max-width: 500px;
    height: 46vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1rem;
    /* margin-left: -4rem; */
  }
  
  .titles {
    margin-top: 2rem;
    margin-right: -4rem;
  }
  
  .selected-title {
    font-size: 22px;
    font-weight: 500;
  }
  
  .selected-paragraph {
    font-size: 16px;
    font-weight: 450;
  }
  
  .edit-btn {
    width: 5rem;
    height: 2rem;
    background-color: rgba(51,104,150,255);
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.2rem 0 0.6rem;
    cursor: pointer;
    transition: .3s;
    margin-left: 19rem;
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .edit-btn:hover {
    background-color: rgb(7, 75, 132);
  }
  
  .new-video {
    background-color: rgb(230, 69, 69);
    color: white;
    font-weight: 500;
    font-size: 19px;
    padding: 5px 10px 10px 10px;
    width: 17rem;
    height: 3rem;
    border-radius: 5px;
    margin-top: 3rem;
    margin-left: 3.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .3s;
    cursor: pointer;
  }
  
  .new-video:hover {
    background-color: #c82525;
  }