.visual-videos {
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    height: 2.8rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none; 
    display: flex;
    justify-content: space-between;
    cursor:grab;
}

.visual-videos:hover {
    background-color: rgb(213, 212, 212);
}

.sorted-img {
    height: 20px;
    width: 20px;
    /* margin-left: 18.4rem; */
    position: relative;
}