.err-container {
  width: 100%;
  /* background: #e9fa0077; */
  position: fixed;
  top: -60px;
  left: 0;
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  animation: drop 5s ease-in-out;
  /* transition: top 300ms; */
}
.err-container.fall {
  /* top: 100px; */
  /* animation: slideIn 0.5s ease-in-out; */
}

.err-container .err-msg {
  padding: 10px 25px;
  background: rgb(255, 42, 42);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(255, 67, 67, 0.72);
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

@keyframes drop {
  0% {
    top: -40px;
    opacity: 0;
  }
  15% {
    top: 20px;
    opacity: 1;
  }
  90% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: -60px;
    opacity: 0;
  }
}