.video-container {
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 45rem;
  height: 25rem; */
  gap: 5px;
}

.video-container .info {
  padding: 0 20px;
}

.vc {
  position: relative;
  z-index: 2;
}

.video-container .video {
  border-radius: 10px;
  /* width: 45rem;
  height: 25rem; */
  z-index: 2;
}

.video-container .video-not-found {
  width: 40rem;
  height: 25rem;
  background-color: rgb(72, 72, 72);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .vsc-controller {
  display: none;
} */
