.video-container {
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 45rem;
  height: 25rem; */
  gap: 5px;
}

.video-container .info {
  padding: 0 20px;
}

.vc {
  position: relative;
  z-index: 1;
  width: 45rem;
  height: 25rem;
}

.video-container .video {
  width: 100%;
  height: 100%;
  /* z-index: 2; */
  border: 2px solid #1e0e62;
  border-radius: 10px;
  background: #ffffff;
  /* box-shadow: 5px 5px 15px 2px rgba(128, 128, 128, 0.54); */
}

.video-container .video-not-found {
  width: 40rem;
  height: 25rem;
  background-color: rgb(72, 72, 72);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .vsc-controller {
  display: none;
} */
