.video-container{
  /* border: 5px solid #535bf2; */
  border-radius: 10px;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.video-container .progress-bar {
  width: 100%;
  height: 10px;
  background: gray;
  /* border-radius: 10px; */
  overflow: hidden;
}
.video-container .progress-bar .progress {
  height: 100%;
  background: green;
  /* border-radius: 0 10px 10px 0; */
  transition: all 300ms;
}

.video-container .info {
  padding: 0 20px;
}

/* .completed {
  color: #008264;
  font-weight: 900;
  text-shadow: 0 0 10px #ffffff;
} */
.video-container .video {
  border-radius: 10px;
}

.video-container .video-not-found {
  width: 300px;
  height: 300px;
  background-color: rgb(72, 72, 72);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-container .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .btns {
  padding: 12px 10px;
  background-color: rgba(102, 102, 102, 0.645);
  color: #3b0052;
  font-weight: 800;
  letter-spacing: 0.5px;
  /* color: white; */
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.video-container .btn-container .previous, 
.video-container .btn-container .next {
  flex: 1;
}
.video-container .btn-container .close {
  flex: 1;
  color: rgb(139, 0, 0)
}
.video-container .btn-container .again {
  flex: 3;
}

.video-container .btn-container .btns:hover {
  background-color: rgba(170, 169, 169, 0.645);
}

.video-container .btn-container .btns:disabled {
  background-color: rgb(69, 69, 69);
  color: rgb(130, 130, 130);
  cursor: default;
  /* cursor: not-allowed; */
}
/* .video-container .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container .btn-container .btns {
  padding: 5px 10px;
  background-color: #3b0052;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}

.video-container .btn-container .btns:disabled {
  background-color: rgb(69, 69, 69);
  cursor: not-allowed;
} */