.video-container .progress-bar {
  width: 100%;
  height: 10px;
  background: rgb(219, 219, 219);
  border-radius: 20px;
  overflow: hidden;
}
.video-container .progress-bar .progress {
  height: 100%;
  background: green;
  /* border-radius: 0 10px 10px 0; */
  transition: all 300ms;
}

.video-container .full-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.video-container .full-progress-bar .full-progress {
  height: 5px;
  background: #00b76e;
  /* box-shadow: 0px 2px 8px 1px  #2605b8; */
  border-radius: 0 20px 20px 0;
  transition:  300ms;
}