.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 50;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER */

.window .head {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #1e0e62;
  font-family: "DM Sans";
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.25rem;
  justify-content: center;
}

.window .tab-content {
  display: flex;
  justify-content: center;
}
.window .head .title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.window .head .w-btn {
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 200ms;
  font-family: inherit;
}
.w-btn.i:hover {
  background-color: rgb(197, 228, 255);
  color: rgb(1, 113, 210);
}
.w-btn.x:hover {
  background-color: rgb(255, 197, 197);
  color: rgb(210, 1, 1);
}
.w-btn.x:disabled {
  color: black;
  cursor: not-allowed;
}

/* TABS */
.window .window-tabs {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: center;
}

.window .window-tabs .v-btn {
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(21, 20, 57, 0.4);
}
.window .window-tabs .v-btn:hover {
  color: rgba(21, 20, 57, 0.587);
}
.window .window-tabs .v-btn:disabled {
  color: rgb(69, 69, 69);
  cursor: not-allowed;
}
.window-tabs .v-btn.selected-content {
  color: #1e0e62;
}
.window-tabs .v-btn.selected-content:hover {
}

/* CONTENT */
.window .content {
  height: 100%;
  display: flex;
  flex-direction: row; /* Change to row layout for content */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
