/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
/* CSS Reset */
:root {
  --red: #cc1526;
  --white: #ffffff;
  --purple: #2f1893;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* CSS Rules */
body {
  line-height: 1;
  font-family: "DM Sans", sans-serif;
  background-image: url(./assets/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
